{% extends 'bootstrap/base.html' %}
{% block body %}
{{ super() }}
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
</style>

<div class="container">
    <div class="row" >
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Feature </h1>
			<table class="table table-striped" id="sortable">
			    <thead>
				    <tr>
				    	<td style="width: 1px;"><b>Priority</b></td>
				    	<td><b>Proposed Feature</b></td>
				    	<td><b>Target Date</b></td>
				    	<td><b>Client</b></td>
				    	<td><b>Area</b></td>
				    	<td><b>Options</b></td>
				    </tr>
			    </thead>
			    <tbody>
				    <tr class="ui-state-default">
				        <td>
				        	<b>1</b>

				        </td>
				        <td><p><b>Task title</b></p><p>Task description. This is where they are going to have a long description of the feature at hand. Nothing too much else for this. Just figuring out everything that we want to put here. asdj sadfkpj asfnlkasdf hasdkfjsdfllkjas dflkjasdflb asjfaj asdlkjsfpoiasdsh </p></td>
				        <td>
				        	11/27/1920
				        </td>
				        <td>
				        	A Smart Client
				        </td>
				        <td>
				        	Billing
				        </td>
				        <td>
				            <button class="btn">Edit</button>
				            <button class="btn">Delete</button>
				            <!-- <span><button class="btn">Mark In Progress</button></span> -->
				        </td>
				    </tr>
				    <tr class="ui-state-default">
				        <td>
				        	<b>2</b>
				        </td>
				        <td><p><b>Task title</b></p><p>Task description. This is where they are going to have a long description of the feature at hand. Nothing too much else for this. Just figuring out everything that we want to put here. asdj sadfkpj asfnlkasdf hasdkfjsdfllkjas dflkjasdflb asjfaj asdlkjsfpoiasdsh </p></td>
				        <td>
				        	11/27/1920
				        </td>
				        <td>
				        	A Pain in the Ass Client
				        </td>	        
				        <td>
				        	Billing
				        </td>
				        <td>
				            <button class="btn">Edit</button>
				            <button class="btn">Delete</button>
				            <!-- <span><button class="btn">Mark In Progress</button></span> -->
				        </td>
				    </tr>
				    <!-- ko foreach: features -->
				    <tr class="ui-state-default">
				        <td>
				        	<b>2</b>
				        </td>
				        <td><p><b data-bind="text: title"></b></p><p data-bind="text: description"> </p></td>
				        <td>
				        	11/27/1920
				        </td>
				        <td>
				        	<p data-bind="text: client">
				        </td>	        
				        <td>
				        	<p data-bind="text: product_area">
				        </td>
				        <td>
				            <button class="btn">Edit</button>
				            <button class="btn">Delete</button>
				            <!-- <span><button class="btn">Mark In Progress</button></span> -->
				        </td>
				    </tr>
				    <!-- /ko -->
			    </tbody>
			</table>
			<div></div>
<!-- 			<button data-bind="click: beginAdd" class="btn">Add Task</button>
			<button data-bind="click: beginAdd" class="btn">Commit</button> -->
		</div>
	</div>
</div>

<script>
	var fixHelperModified = function(e, tr) {
	    var $originals = tr.children();
	    var $helper = tr.clone();
	    $helper.children().each(function(index) {
	        $(this).width($originals.eq(index).width())
	    });
	    return $helper;
	},
	    updateIndex = function(e, ui) {
	        $('td.index', ui.item.parent()).each(function (i) {
	            $(this).html(i + 1);
	        });
	    };

	$("#sortable tbody").sortable({
	    helper: fixHelperModified,
	    stop: updateIndex
	}).disableSelection();
</script>
<script type="text/javascript">
	function TasksViewModel() {
	        var self = this;
	        self.featuresURI = 'http://localhost:5002/api/features';
	        self.username = "iws";
	        self.password = "pass";
	        self.features =  ko.observableArray();

	        self.ajax = function(uri, method, data) {
	            var request = {
	                url: uri,
	                type: method,
	                contentType: "application/json",
	                accepts: "application/json",
	                cache: false,
	                dataType: 'json',
	                data: JSON.stringify(data),
	                beforeSend: function (xhr) {
	                    xhr.setRequestHeader("Authorization", 
	                        "Basic " + btoa(self.username + ":" + self.password));
	                },
	                error: function(jqXHR) {
	                    console.log("ajax error " + jqXHR.status);
	                }
	            };
	            return $.ajax(request);
	        }

	        self.beginAdd = function() {
	            alert("Add");
	        }
	        self.beginEdit = function(feature) {
	            alert("Edit: " + feature.title());
	        }
	        self.remove = function(feature) {
	            alert("Remove: " + feature.title());
	        }
	        self.markInProgress = function(feature) {
	            feature.done(false);
	        }
	        self.markDone = function(feature) {
	            feature.done(true);
	        }

	        self.ajax(self.featuresURI, 'GET').done(function(data) {

	            for (var i = 0; i < data.features.length; i++) {

	                // self.features.push({
	                //     title: ko.observable(data.features[i].title),
	                //     description: ko.observable(data.features[i].description),
	                //     id: ko.observable(data.features[i].id)
	                //     client: ko.observable(data.features[i].client)
	                //     product_area: ko.observable(data.features[i].product_area)
	                // });
	                self.features.push({
	                    title: ko.observable(data.features[i].title),
	                    description: ko.observable(data.features[i].description),
	                    id: ko.observable(data.features[i].id),
	                    client: ko.observable(data.features[i].client),
	                    product_area: ko.observable(data.features[i].product_area)
	                });
	            }
	        });
	    }
	    ko.applyBindings(new TasksViewModel(), $('#main')[0]);
</script>
{% endblock body %}
